.navLink {
    display: flex;
    text-align: center;
    align-items: center;
    padding-inline: 7px;
}

.navLink:hover{
    filter: brightness(70%);
}

.navLink:hover a{
    color: var(--other);
}

.navLink a {
    color: #FFFFFF;
    font-weight: 550;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: capitalize;
}

@media all and (max-width: 973px) {
    .navLink a {
        font-size: 1rem;
        font-weight: 400;
    }
}

@media all and (max-width: 656px) {
    .navLink a {
        font-weight: 400;
    }

    .navLink{
        padding: 10px;
        transition: all 0.3s;
    }

    .navLink:hover{
        opacity: 0.7;
        background-color: black;
    }

    .navLink:hover a{
        color:unset;
    }
}
