.contactMeContainer{
    margin: 100px auto 170px;
}

.title{
  margin: 0;
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 15px;
  padding-top: 0;
  color:#fff;
  text-transform: uppercase;
  filter: brightness(0.8);
  text-align: left;
}

.talkText{
  padding:10px;
    word-spacing: 1px;
    font-size: 1rem;
    color:#fff;

}

.contactMeContent{
        padding-left:0;
        margin:10px;
    }

    @media all and (max-width: 450px) {
      .contactMeContainer{
        /* border:1px solid red; */
        padding:0;
        margin:0;
      }
    }