.aboutSectionContainer {
    margin: auto;
    text-align: center;
    padding: 10px 20px;
}

.title {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.description {
    color: rgb(97, 95, 95);
}

.aboutMeCont {
    margin-top: 40px;
}

/* @media all and (max-width: 960px) { */

@media all and (max-width: 960px) {
    .aboutSectionContainer{
        margin: 30px auto;
    }

    .aboutMeCont {
        margin-top: 20px;
    }
}

@media all and (max-width: 400px) {
    .title {
        font-size: 1.5rem;
    }
}