
.resumeSectionContainer {
    height: auto;
    background: var(--primary);
    padding-top: 20px;
    padding-bottom: 90px;

}

.title {
    width: auto;
    margin: 0;
    text-decoration: underline;
}

.subTitle {
    display: block;
    font-size: 1rem;
    margin-bottom: 60px;
}

.resumeContainer {
    height: 20rem;
    background: var(--background1);
    margin: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 3px 13px 38px 10px rgba(10,7,13,1);
}

.contentContainer{
    
   position: relative;
   height: 100%; 
    background: rgb(236, 233, 226);  
    overflow-y: scroll;
}

.contentInnerContainer{
    height: 100%;
    padding: 0;
    margin: 0;
    transition: all 2s;
}

@media all and (max-width: 990px) {
    .resumeContainer{
        height: 30vh;
    }
}

@media all and (max-width: 500px) {
    .resumeContainer{
        height: unset;
        border-radius: unset;
        width: 100%;
        margin: 0;
        box-shadow: unset;
    }

    .title {
        font-size: 1.5rem;
    }

    .resumeSectionContainer{
        padding-left: 0;
        padding-right: 0;
    }

    .contentContainer{
        height: 17rem;
    }
}

/* @media all and (max-width: 500px) {
    .contentContainer{
        height: 20rem;
    }
} */

