.aboutImageContainer{
    display: flex;
    align-items: center;
}

.imageContainer{
    height:90%;
    margin:auto;
    text-align:center;
}

.imageSpan{
    display:block;
}

@media all and (max-width: 770px) {
    .imageContainer{
        padding: 0;
    }
}

@media all and (max-width: 656px) {
    .title{
        font-size: 1.45rem;
    }
}