.aboutMe {
    text-align: left;
    color: #fff;
    margin:0;
    padding:10px ;
}

.aboutText {
    word-spacing: 1px;
    font-size: 1rem;
}
ul{
    padding-left:20px;
}
.highlights h4{
    margin-bottom: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.highlights span {
    padding: 0;
}

