.TechSectionCont {
  text-align: left;
}

.title {
  margin-top: 30px;
  font-size: 1.1rem;
  padding: 10px;
  margin-bottom: 0;
  padding-top: 0;
 margin-left:30px;
  color:#fff;
  text-transform: uppercase;
  filter: brightness(0.8);
}

.IconsCont{
    margin:20px;
    margin-top:5px;
    padding:20px;
    margin-left:0;
    /* padding-left:25px; */
}


.TechCard {
    text-align: center;
    background: var(--primary);
    color: #fff;
    width: 100%;
    border-Radius: 3px;
    padding:20px 15px;
}

.TechName {
    font-size: 0.9rem;
    text-transform:capitalize;
}

.TechIcon{
    font-size:1.8rem;
}

@media all and (max-width: 500px) {

    .TechCard {
            padding:12px 8px;

    }
   .IconsCont{
    padding-left:0;
    padding-right:0;
    margin-right:0;
    /* text-align:left; */
   }

   .CardCont{
    padding:2px;
    text-align:left;
   }

   .TechName {
    font-size: 0.8rem;
   }

   .title{
    margin-left:0;
    margin-right:0;
   }

}