
.buttonContainer {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    margin: auto;
    width: 100%;
    text-align: left;
    text-transform: capitalize;

}

.buttonContainer:hover{
    cursor: pointer;
}

.content {
    position: relative;
    color: #000;
    z-index: 1;
    flex-grow: 1;
}

.background {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: 0;
    color: transparent;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    top: 0;
    left: 0;
    bottom: 0;
    right: 7rem;
    z-index: 2;
    transform: translateX(-30rem);
    transition: all 0.3s;
}

.buttonContainer:hover .background{
    color: #fff;
    transform: translate(0);
}

.iconContainer {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.icon {
    font-size: 1.2rem;
}

.resumeControllersContainer {
    height: 100%;
}

.allIcons {
    box-shadow: -9px 9px 5px 0px rgba(0,0,0,0.75);
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5rem;
}

.allButtons {
    flex-direction: column;
    background: white;
    padding-bottom: 5rem;
}

.education,
.programming,
.projects{
    border: 2px solid rgb(230, 107, 20);
    color: #fff;
    transform: translate(0);
}

@media all and (max-width: 970px) {
    .iconContainer,
    .buttonContainer{
        padding: 0;
        margin: 0;
        align-items: baseline;
    }

    .buttonContainer{
        padding-right:5px ;
    }

    .iconContainer{
        padding-left: 3px;
    }

    .allButtons,
    .allIcons{
        padding-bottom: 3rem;
        justify-content: unset;
    }

    .background{
        align-items: baseline;
        justify-content: flex-start;
        right: 20%;
    }
    

}


@media all and (max-width: 500px) {

    .resumeControllersContainer{
        height: 25vh;
    }


    .allButtons,
    .allIcons{
        padding-bottom: 2%;
        box-shadow: unset;
    }

    .background{
        border: none;
    }
}

