.App{
    background: var(--background1);
    height: 100vh;
    overflow:hidden;
    margin:auto;
}

.content{
    height: 100vh;
    overflow-y:scroll;
    scroll-behavior: smooth;
    padding-top:5px;
    padding-right:60px;
}


.Hero{
    padding: 0 30px !important;
    
}

@media all and (max-width: 1000px) {
    .App,
    .content{
        height:unset;
        overflow:unset;
        text-align:left;
    }

       

    .content{
        margin-top:0;
        padding-right:50px;
        padding-left:30px;
    }
}


@media all and (max-width: 600px) {
    .App,
    .content{
        padding: 20px;
    }

    .content{
        padding-left:0;
    }

    .Hero{
        padding: 0 !important;
        margin:0;
    }
}

@media all and (max-width: 450px) {
    /* .App, */
    .content{
        padding-top: 0;
        padding-bottom:0;
        padding:5px;
    }
}