@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

:root {
  --background1: linear-gradient(-90deg, #02203c, #001528);
  --primary: #02203c;
  --secondary: #001528;
  --other: #f7990eef;
  --resumeTitle: rgb(230, 107, 20);
}

body {
  margin: 0;
  scroll-behavior: smooth;
  user-select: none;
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
